services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      HabitDatabaseSetting__ConnectionString: "mongodb://mongodb:27017"
      HabitDatabaseSetting__DatabaseName: "Projekt4DB"
      HabitDatabaseSetting__HabitCollectionName: "Habits"
    depends_on:
      mongodb:
        condition: service_started

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
